@model  Caalinder.Models.MeusMatchesVIewIndex

@{
    ViewBag.Title = "MeusMatches";
}

<h2 style="padding-left:15px;">Casais</h2>
<div class="col-lg-5 col-md-5">
    <div class="portlet-body">
        <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover table-header-fixed dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
                    <thead>
                        <tr role="row" class="odd" style="background-color: black; color: #E9E9F1; border: 3px solid red;">
                            <th class="text-center" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending"
                                aria-label="activate to sort column ascending" style="width: 200px;">
                                Meu Cavalo
                            </th>
                            <th class="text-center" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending"
                                aria-label="activate to sort column descending" style="width: 200px;">
                                Raça
                            </th>
                            <th class="text-center" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending"
                                aria-label="activate to sort column ascending" style="width: 200px;">
                                Data de Nascimento
                            </th>
                            <th class="text-center" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending"
                                aria-label="activate to sort column ascending" style="width: 200px;">
                                Descrição
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var cavalo in Model.MeusMatchesList)
                        {
                            <tr role="row" class="odd">
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => cavalo.MeusCavalos.Name)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => cavalo.MeusCavalos.HorseBrand)
                                </td>
                                <td class="text-center">
                                    @cavalo.MeusCavalos.HorseBirth.ToString("dd/MM/yyyy")

                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => cavalo.MeusCavalos.Description)
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-7 col-md-7">
    <div class="portlet-body">
        <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover table-header-fixed dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
                    <thead>
                        <tr role="row" class="odd" style="background-color: black; color: #E9E9F1; border: 3px solid red;">
                            <th class="text-center" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending"
                                aria-label="activate to sort column ascending" style="width: 200px;">
                                Dono
                            </th>
                            <th class="text-center" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending"
                                aria-label="activate to sort column descending" style="width: 200px;">
                                Nome do Cavalo
                            </th>
                            <th class="text-center" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending"
                                aria-label="activate to sort column ascending" style="width: 200px;">
                                Raça
                            </th>
                            <th class="text-center" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending"
                                aria-label="activate to sort column ascending" style="width: 200px;">
                                Data de Nascimento
                            </th>
                            <th class="text-center" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending"
                                aria-label="activate to sort column ascending" style="width: 200px;">
                                Descrição
                            </th>
                            <th class="text-center" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending"
                                aria-label="activate to sort column ascending" style="width: 200px;">
                                Ações
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var cavalo in Model.MeusMatchesList)
                        {
                            <tr role="row" class="odd">
                                <td class="text-center">
                                    <a href="@Url.Action("Details","Match", new {id = cavalo.MatchId})" style="color: black">
                                        @Html.DisplayFor(modelItem => cavalo.CavalosDeles.ApplicationUser.name)
                                    </a>
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => cavalo.CavalosDeles.Name)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => cavalo.CavalosDeles.HorseBrand)
                                </td>
                                <td class="text-center">
                                    @cavalo.CavalosDeles.HorseBirth.ToString("dd/MM/yyyy")
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => cavalo.CavalosDeles.Description)
                                </td>
                                @if (cavalo.Relike == false)
                                {
                                    <td class="text-center">
                                        @Html.ActionLink("Deslike", "Deslike", new { id = cavalo.MatchId })
                                    </td>
                                }
                                else
                                {
                                    <td class="text-center">
                                        @Html.ActionLink("Relike", "Relike", new { id = cavalo.MatchId })
                                    </td>
                                }

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


