@model Caalinder.Models.HorseModel

@{
    ViewBag.Title = "Deletar";
}
<div class="container">
    <div class="row">
        <div class="span12" style="text-align:center; margin: 0 auto;">
            <div class="form-group" style="width: 400px; margin: 0 auto; padding-right: 55px; padding-top:15px;">
                <h2>Deletar</h2>
            </div>
        </div>
    </div>
</div>

<div>
    <hr />
    <dl class="dl-horizontal" style="padding-left:300px;">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorseBrand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorseBrand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorseBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorseBirth)
        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="botão" style="padding-left:506px;">
            <input type="submit" value="Deletar" class="btn" style="text-align:center;" /> 
        </div>
        <div class="container" style="padding-left:500px;">
            <div class="btn" style="margin:5px;text-align:center;">
                @Html.ActionLink("Voltar", "Index")
            </div>
        </div>
    }
</div>
