@model IEnumerable<Caalinder.Models.HorseModel>

@{
    ViewBag.Title = "Meus Cavalos";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar Cavalos", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Cavalo
        </th>
        <th>
            Sexo
        </th>
        <th>
            Raça
        </th>
        <th>
            Data de Nascimento
        </th>
        <th>
            Descrição
        </th>
        <th>
            Ações
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorseBrand)
        </td>
        <td>
            @item.HorseBirth.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
